<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">

    <appenders>
        <File name="requestErrors" fileName="logging/requestErrors.log">
            <PatternLayout pattern="%d{dd.MM.yyy HH:mm:ss} [%t] %msg%n"/>
            <Filters>
                <MarkerFilter marker="BAD_REQUEST"/>
            </Filters>
        </File>
        <File name="runtimeErrors" fileName="logging/runtimeErrors.log">
            <PatternLayout pattern="%d{dd.MM.yyy HH:mm:ss} [%t] %msg%n"/>
            <Filters>
                <MarkerFilter marker="RUNTIME_ERROR"/>
            </Filters>
        </File>
        <File name="errors" fileName="logging/errors.log">
            <PatternLayout pattern="%d{dd.MM.yyy HH:mm:ss} [%t] %msg%n"/>
        </File>
    </appenders>

    <loggers>
        <root level="warn">
            <appender-ref ref="requestErrors"/>
            <appender-ref ref="runtimeErrors"/>
            <appender-ref ref="errors" level="error"/>
        </root>

    </loggers>
</configuration>
